<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <util:properties id="activemqProperties" location="classpath:/activemq.properties"/>
    <util:properties id="apiKeys" location="classpath:/apiKeys.properties"/>
    <util:properties id="postgresProperties" location="classpath:postgres.properties"/>
    <util:properties id="referencedataProperties" location="classpath:referencedata.properties"/>

    <context:property-placeholder location="classpath*:*.properties"/>
    <context:spring-configured/>
    <context:annotation-config/>

    <import resource="classpath:applicationContext-Diagnostics.xml"/>
    <context:component-scan base-package="org.motechproject.ananya.referencedata"/>

    <import resource="classpath:applicationContext-flw.xml"/>

    <bean id="configurationDiagnostic" class="org.motechproject.diagnostics.diagnostics.ConfigurationDiagnostic">
        <constructor-arg>
            <map>
                <entry key="Activemq"><util:properties location="classpath:activemq.properties"/></entry>
                <entry key="Postgres"><util:properties location="classpath:postgres.properties"/></entry>
                <entry key="Application"><util:properties location="classpath:referencedata.properties"/></entry>
                <entry key="ClientServicesProperties"><util:properties location="classpath:clientServices.properties"/></entry>
            </map>
        </constructor-arg>
    </bean>
</beans>